<%- include("includes/head") %>
<body>
  <% if (error) { %>
  <h1><%= error %></h1>
  <% } else { %>
  <div>
    <h3>Request was sent by user with ip: <b><%= request.user.ip %></b></h3>
    <ul>
      <% for (const prop in request) { %> <% if (prop === "_id" || prop ===
      "user") continue; %>
      <li><%= prop %>: <b><%= request[prop] %></b></li>
      <% } %>
    </ul>
  </div>
  <% } %>
</body>
